.git
.gitignore
.idea
.vscode
**/.env
**/.env.*
!**/.env.example
**/*.md
**/README.md

job-recommendation/target
job-recommendation/.idea
job-recommendation/HELP.md

job-recommendation-ui/node_modules
job-recommendation-ui/dist
job-recommendation-ui/dist-ssr

**/*.log
**/.DS_Store
Thumbs.db
