COGNODB_URI=bolt+s://<instance-id>.databases.cognodb.cloud
COGNODB_USERNAME=cognodb
COGNODB_PASSWORD=
COGNODB_DATABASE=neo4j
PORT=3030
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173
